body {
  background-color: #FFB7DD;
  margin: 50px 50px 50px 50px;
}
p {
  color: #000000;
  text-align: center;
  font-size: 1.20em;
  font-weight: normal;
  font-style: italic;
}
p1 {
  color: #000000;
  text-align: left;
  font-size: 1.20em;
  font-weight: normal;
  font-style: normal;
}

a {
  color: #000000;
  text-align: left;
  font-size: 1.0em;
  font-weight: normal;
  font-style: normal;
}
h2 {
  color: #000000;
  text-align: left;
  font-size: 1.30em;
  font-weight: bold;
  max-width: 1000px;
}

h3 {
  color: #000000;
  text-align: left;
  font-size: 1.20em;
  font-weight: bold;
  font-style: normal;
  max-width: 1000px;
}
h4 {
  color: #000000;
  text-align:left;
  font-size: 1.60em;
  font-weight: normal;
  max-width: 600px;
}

.world{
  color: #FFB7DD;
  text-align: center;
  font-size: 1.70em;
  font-weight: bold;
  max-width: 800px;
  position:absolute;
  top:8%;
  left:80%;
  right:3%;
  z-index: 15;
  background:#000000;
  opacity: 0.7
}
.group{position: relative;}

.world1{
  color: #FFB7DD;
  text-align: center;
  font-size: 2.00em;
  font-weight: bold;
  max-width: 600px;
  position: absolute;
  top:97%;
  left:27%;
  right:8%;
  z-index: 10;
  background:#000000;
  opacity: 0.75
}
.group1{position: relative;}
